@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

html {
  transition: background-color 0.5s, color 0.5s;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  #root {
    @apply min-h-screen;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground shadow-sm hover:shadow-md transition-shadow duration-200;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 2s infinite;
}

.custom-popper {
  z-index: 9999;
}

.recharts-brush {
  transform: translateY(15px);
}

@keyframes brightnessPulse {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  50% {
    filter: brightness(140%);
    transform: scale(1.03);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}

.animate-brightness-pulse {
  animation: brightnessPulse 3s infinite ease-in-out;
}

.react-datepicker {
  background-color: white;
  border: 2px solid #4f46e5 !important;
  border-radius: 8px !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) !important;
  font-family: "Inter", sans-serif !important;
  transition: all 0.2s ease-in-out !important;
}

.react-datepicker__header {
  background-color: #fefdff !important;
  color: white;
  height: 65px;
  border-bottom: 2px solid #4f46e5 !important ;
  padding: 5px;
  border-radius: 8px 8px 0 0;
}

.react-datepicker__current-month {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 4px !important;
}

.react-datepicker__day-name {
  color: white !important;
  font-size: 13px;
  background-color: #009688 !important;
  border-radius: 2px !important;
}

.react-datepicker__day {
  color: #1e293b;
  font-size: 14px;
  font-weight: 500;
  padding: 6px;
  transition: background 0.2s ease-in-out !important;
  border-radius: 6px;
}

.react-datepicker__day--selected {
  background-color: #4f46e5 !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #6366f1 !important;
  color: white;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: white;
  color: #1e293b;
  border: 2px solid #4f46e5;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__input-container input:focus {
  border-color: #6366f1;
  box-shadow: 0px 0px 6px rgba(99, 102, 241, 0.5);
}

.react-datepicker__navigation-icon {
  color: #4f46e5 !important;
}

.react-datepicker__navigation {
  transition: all 0.2s ease-in-out;
  padding: 2px !important;
}

.react-datepicker__year--container {
  background: white;
}

.react-datepicker__year-text {
  background: white;
  color: black;
  padding: 5px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__year-text:hover {
  background: #6366f1 !important;
  color: white;
}

.react-datepicker__year-text--selected {
  background-color: #4f46e5 !important;
}

.react-datepicker__day--in-range {
  background-color: #4f46e5 !important;
  color: white;
}

.react-datepicker__triangle {
  display: none;
}
